.container
{
	text-align: center;
}

.bold
{
	font-weight: bold;
	color: #017BB9;
}
.sub-desc
{
  font-size: 20px;
  font-family: Montserrat,sans-serif;
}

/* ------------------------------------- Side Nav ----------------------------------------*/

.navbar
{
  border-bottom: 1px solid lightgrey;
  font-family: Open Sans, sans-serif;
  background-color: white;
}
.nav-item
{
	font-size: 20px;
}

#logoNav
{
	height: 70px;
	width: 70px;
}

#logoLink
{
	width: 70px;
	height: 70px;
	margin-top: -10px;
	margin-bottom: -18px;
}

#link
{
	text-decoration: none;
}

a.welcome1
{
	font-size: 50px;
	text-align: center;
	margin-bottom: -5px;
}
span.welcome1
{
	color:#263238;
	font-weight: 500;
	font-size:30px;
}
span.welcome2
{
	color:#017BB9;
	font-weight:bold;
	font-size:30px;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: -5px;
}

.navbar-brand2 {
  transform: translateX(100%);
  right: 90px;
  position: absolute;
  margin-top: 2px;
}

h1, h2
{
	color: #017BB9;
	padding-bottom: 15px;
}


#nav-hover
{
  display: inline-block;
  position: relative;
  margin-top: 0;
}

#nav-hover::after
{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #017BB9;
  transition: width .3s;
}

#nav-hover:hover::after
{
  width: 100%;
  transition: width .3s;
}

#active-hover
{
	font-weight: bold;
	color: #017BB9;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	display: inline-block;
	position: 
}

.dropdown-item
{
	margin: 0px !important;
}

/*------------------------ About Us ----------------------------*/
#about-wrapper
{
	height: 100%;
	margin-top: 40px;
	margin-bottom: 70px;
	text-align: left;
}
#about-con
{
	margin-bottom: 25px;
}

#about-con2
{
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#about-img-div
{
	height: 100%;
	margin-right: 30px;
	flex: 1;
}
#about-img
{
	height: 100%;
	width: 100%;
	border-radius: 5px;
}
#about-info
{
	height: 100%;
	flex: 3;
}

#about-title
{
	color: #2d2d2d;
	font-family: Montserrat,sans-serif;
	font-size: 1.6em;
	font-weight: 600;
	margin-bottom: 20px;
}


/*------------------------------ Our Goal------------------   */

#ourTitle
{
	font-size: 40px;
	margin-bottom: 20px;
	font-size:20
}

#ourGoalInfo
{
	font-size: 25px;
	font-weight: lighter;
}


/*-----------------------------------------------Contact Us-----------------------------------------------*/
#CU
{
	font-weight: bold;
	font-size: 30px;
}

#contactUs
{
/*	border: 1px solid #DCDCDC;
	box-shadow: 0px 1px 10px #999;*/
	margin-bottom: 20px;
}

#contact
{

	width: 900px;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.box .icon .fa
{
	font-size: 60px;
	cursor: pointer;
}

.box .icon h3,
.box .icon h4
{
	position: relative;
	overflow: hidden;
	font-weight: 400;
	margin: 0;
	padding: 2px 5px;
	font-size: 24px;
}

.box .icon h4
{
	font-weight: 600;
	margin: 5px 0;
	font-style: 30px;
}

.box .icon h3:before,
.box .icon h4:before
{
	content: '';
	position: absolute ;
	top: 0;
	left: 100%;;
	width: 100%;
	height: 100%;
	background: #696969;
	transition: 1s;
}

.box .icon h4:before
{
	left: initial;
	right: 100%;
	background-color: #017BB9;
}


.box .fa:hover ~ h3:before
{
	left: -100%;
}
.box .fa:hover ~ h4:before
{
	left: initial;
	right: -100%;
}


/*--------------------------Bottom Info--------------------------*/
#hr
{
  border: 1px solid #b4b5b8;
  width: 100%;
  margin-bottom: 10px;
}

#footerDiv
{
	width: 100%;
	height: 60px;
	background-color: #363a43;
}

#footer
{
	padding-top: 10px;
	color: #b4b5b8;
	text-align: center;
}

#bottomInfo
{
  width: 100%;
  height: 100%;
  background: #363a43;
  color: white;
}
.bottomDiv
{
  margin: 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.bDiv
{ 
  margin: 30px;
  height: 100%;
  width: 300px;
  text-align: left;
}


#botDidymo
{ 
  margin: 60px;
  height: 100%;
  width: 200px;
  text-align: left;
}

#qLinks
{ 
  margin: 30px;
  height: 100%;
  width: 150px;
  
  text-align: left;
  content-align: center;
}

#CMiniLogo
{
  color: #D0D3D4;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;

}
#SMiniLogo
{
  color:#017BB9;
  font-weight: 600;
  font-size: 30px;

}

#miniTitle
{
  font-size: 25px;
  color: #f0f0f0;
}

.miniInfo
{
  font-weight: lighter;
  color: #b4b5b8;
}

#miniLink
{
  color: #f0f0f0;
}



#teamimg1
{
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 80px;
}
.imgCon1, .imgCon2, .imgCon3, .imgCon4
{
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 40px;
  margin: 5px;
  border-radius: 50%;
}


#ourteam-div
{
  text-align: center;
  margin-bottom: 70px;
}

.row
{
  height: 100%;
  width: 100%;
}

#ourTeamTitle
{
  color: #2d2d2d;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: -5px;
  text-align: center;
  font-family: Montserrat,sans-serif;
}


#title1
{
  font-size: 50px;
  margin-bottom: -5px;
  color:#017BB9;
}

#underline-div
{
  text-align: center;
}
#underline
{
  height: 1px;
  display: inline-block;
  border-top: 1px solid #eee;
  width: 55%;
}

#ourTeamInfo
{
  margin-left: 30px;
  float: left;
  font-weight: lighter;
}
/*------------------------Navbar------------------------------*/
.navbar
{
  border-bottom: 1px solid lightgrey;
  font-family: Open Sans, sans-serif;
  background-color: white;
}
#nav-hover
{
  display: inline-block;
  position: relative;
  margin-top: 0;
}

#nav-hover::after
{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #017BB9;
  transition: width .3s;
}

#nav-hover:hover::after
{
  width: 100%;
  transition: width .3s;
}

#active-hover
{
  font-weight: bold;
  color: #017BB9;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: inline-block;
  position: relative;
}

.nav-item
{
  font-size: 20px;
}

/*--------------------Team Bio--------------------*/
#ourteam-div
{
  margin-top: 40px;
}

.tI1, .tI2, .tI3, .tI4, .tI5, .tI6, .tI7, .tI8
{
  width: 180px;
  height: 180px;
  object-fit: cover;
  box-shadow: 0px 1px 10px #999;
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  margin-top: 20px;
}


.container.name-con
{
  width: 350px;
  display: inline-block;
  margin-bottom: 20px;
  justify-content: center;
}

#nameHead
{
  font-weight: bold;
  font-size: 25px;
}

#nameInfo
{
    color: #626262;
    font-size: 20px;
    font-family: Open Sans,sans-serif;
}

#roles
{
  text-decoration: underline;
  font-weight: lighter;
  font-size: 25px;
}

#personalInfo
{
  font-weight: lighter;
  font-size: 25px;
}

#nameTitle1,#nameTitle2,#nameTitle3,#nameTitle4,#nameTitle5,#nameTitle6,#nameTitle7,#nameTitle8
{
  font-size: 25px;
  font-weight: bold;
}


/*----------------------------------Team Names--------------------------------*/

.member-name
{
  display: inline-block;
  text-align: center;
  margin: 0px;
  margin-top: 20px;
  
  color: #2d2d2d;
  font-family: Montserrat,sans-serif;
  font-weight: 600
}

.member-email
{
	color: #626262;
    font-size: 16px;
    font-family: Open Sans,sans-serif;
	font-weight: lighter;
}

#ourgoal-con
{
}

#about-title
{
  color: #2d2d2d;
  font-family: Montserrat,sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 20px;
}

#about-txt
{
    color: #626262;
    font-size: 20px;
	font-family: Montserrat,sans-serif;
}

#ourgoal-title
{
  color: #2d2d2d;
  font-family: Montserrat,sans-serif;
  font-size: 32px;
  font-weight: 600;
}

#underline-div
{
  text-align: center;
}
#underline
{
  height: 1px;
  display: inline-block;
  border-top: 1px solid #eee;
  width: 55%;
}

#stretchImg1
{
	margin-top: 40px;
	margin-bottom: 80px;
}

/*--------------------Modal Image1--------------------*/

#myImg
{
	width: 100%;
	height: 500px;
	object-fit: cover;
	box-shadow: 0px 1px 10px #999;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content
{
	margin:auto;
	width: 100%;
	height: 500px;
	max-width: 800px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


/*-------------------- Modal Image2 --------------------*/
/*#about-img:hover {opacity: 0.7;}*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content
{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/*-------------------- The Close Button --------------------*/
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}