#pp-wrapper
{
	margin-top: 30px;
}

#stretch
{
	background: #363a43;
	width: 100%;
	box-shadow: 0px 1px 10px #999;
	margin-bottom: 80px;
}

#stretch2
{
	background: #363a43;
	width: 100%;
	box-shadow: 0px 1px 10px #999;
	margin-bottom: 20px;
	color: #F5F5F5;
}

#info
{
	margin-top: 20px;
}
#banner-txt
{
	text-align: center;
	font-family: Montserrat,sans-serif;
	font-size: 20px;
	color: #F5F5F5;
}

#boldp
{
	font-weight: bold;
	color: #017BB9;
}

#u
{
	text-decoration: underline;
}

#underlineDiv
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dividerLine
{
    background-color: #DCDCDC;
    height: 2px;
    width: 135px;
}

#blue-line
{
	margin-left: 45px;
    background-color: #00b2db;
    height: 2px;
    width: 45px;
    margin-top: -2px;
}

#underlineDivC
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dividerLineC
{
    background-color: #DCDCDC;
    height: 2px;
    width: 340px;
    margin-left: 80px;
}

#blue-lineC
{
	margin-left: 210px;
    background-color: #00b2db;
    height: 2px;
    width: 80px;
    margin-top: -2px;
}


/* ------------------------------------- Side Nav ----------------------------------------*/
.navbar
{
	background-color: white;
}

.nav-item
{
	font-size: 20px;
}

#logoNav
{
	height: 70px;
	width: 70px;
}

#logoLink
{
	width: 70px;
	height: 70px;
	margin-top: -10px;
	margin-bottom: -18px;
}

#link
{
	text-decoration: none;
}

a.welcome1
{
	font-size: 50px;
	text-align: center;
	margin-bottom: -5px;
}
span.welcome1
{
	color:#263238;
	font-weight: 500;
	font-size:30px;
}
span.welcome2
{
	color:#017BB9;
	font-weight:bold;
	font-size:30px;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: -5px;
}

.navbar-brand2 {
  transform: translateX(100%);
  right: 90px;
  position: absolute;
  margin-top: 2px;
}

#nav-hover
{
  display: inline-block;
  position: relative;
  margin-top: 0;
}

#nav-hover::after
{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #017BB9;
  transition: width .3s;
}

#nav-hover:hover::after
{
  width: 100%;
  transition: width .3s;
}

#active-hover
{
	font-weight: bold;
	color: #017BB9;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	display: inline-block;
	position: 
}

.navbar
{
	border-bottom: 1px solid lightgrey;
}


#about-wrapper
{
	height: 100%;
	margin-top: 40px;
	margin-bottom: 70px;
	text-align: left;
	padding: 30px;
}
#about-con2
{
	margin-top: 20px;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
}

#about-img-div
{
	height: 100%;
	margin-right: 30px;
	flex: 1;
}
#about-img
{
	height: 100%;
	width: 100%;
}
#about-info
{
	height: 100%;
	flex: 1;
	margin-right: 30px;
}
#about-txt
{
    color: #626262;
    font-size: 20px;
	font-family: Montserrat,sans-serif;
}

/* Client */
#client-wrapper
{
	height: 100%;
	margin-top: 40px;
	margin-bottom: 70px;
	text-align: left;
	padding: 30px;
}
#client-con2
{
	margin-top: 20px;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
}

#client-img-div
{
	height: 100%;
	margin-right: 30px;
	flex: 1;
}
#client-img
{
	height: 100%;
	width: 100%;
}
#client-info
{
	height: 100%;
	flex: 2;
	margin-right: 30px;
}
#client-txt
{
    color: #626262;
    font-size: 20px;
	font-family: Montserrat,sans-serif;
}









/*PatientPal*/

#title
{
	font-size: 40px;
	font-weight: 600;
	font-family: Montserrat,sans-serif;
	text-align: center;
}
#ppDiv
{
	padding: 30px;
}
#devDiv
{
	padding: 30px;
	margin-top: 0px;
}
.ben-wrapper
{
	display: flex;
	justify-content: left;
	margin-bottom: 0px;
	text-align: left;
}
#bw1
{
	width: 500px;
	margin-right: 50px;
}
#bw2
{
	width: 500px;
}

p.welcome
{
	font-size: 50px;
	text-align: center;
	margin-bottom: -5px;
}

span.welcome
{
	color:#017BB9;
	font-weight:bold;
	font-size:20;
}

#patientInfo
{
    color: #626262;
    font-size: 20px;
	font-family: Montserrat,sans-serif;
}

.welcomeprocesses
{
	font-size: 40px;
}

#bold
{
	text-decoration: underline;
	font-weight: 900;
}

#bold2
{
	text-decoration: underline;
	font-weight: 900;
}
#processTitle
{
	text-decoration: bold;
	font-size: 40px;
	margin-left: 130px;
}

.processInfo
{
	font-size: 18px;
	font-weight: lighter;
}

#titleDiv
{
	margin-bottom: 50px;
	text-align: center;
	color: #F5F5F5;
}
#about-con3
{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}
#underlineDiv2
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dividerLine2
{
    background-color: #DCDCDC;
    height: 2px;
    width: 280px;
}

#blue-line2
{
	margin-left: 95px;
    background-color: #00b2db;
    height: 2px;
    width: 80px;
    margin-top: -2px;
}

#devInfo
{
    color: #626262;
    font-size: 20px;
	font-family: Montserrat,sans-serif;
}

#underlineDiv4
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dividerLine4
{
    background-color: #DCDCDC;
    height: 2px;
    width: 163px;
}

#blue-line4
{
	margin-left: 60px;
    background-color: #00b2db;
    height: 2px;
    width: 40px;
    margin-top: -2px;
}

#underlineDiv3
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dividerLine3
{
    background-color: #DCDCDC;
    height: 2px;
    width: 110px;
}

#blue-line3
{
	margin-left: 35px;
    background-color: #00b2db;
    height: 2px;
    width: 40px;
    margin-top: -2px;
}
/*----------------- Breakdown Wrapper -----------------*/
#breakdown-wrapper
{
	margin-bottom: 80px;
	font-size: 35px;
	background: #363a43;
}
#steps
{
	font-weight: 900;
	font-weight: lighter;
	font-family: Montserrat,sans-serif;
	font-size: 28px;
}

#olN
{
	font-weight: bolder;
	font-family: Montserrat,sans-serif;
	color: #017BB9;
}

#info2
{
	text-align: center;
	font-size: 30px;
	font-family: Montserrat,sans-serif;
	margin-top: 100px;
}

#info3
{
	text-align: center;
	font-size: 25px;
	font-family: Montserrat,sans-serif;
	margin-top: 30px;
}




#steps-div
{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.step1
{
	width: 100%;
	flex: .5;
}
.step2
{
	width: 100%;
	flex: 5;
}
.step3
{
	width: 100%;
	flex: 1;
	text-align: right;
}

.feat
{
	height: 50px;
	width: 50px;
	margin-bottom: 20px;
}

#tick2
{
	height: 50px;
	width: 50px;
}

.feat-title
{
	font-size: 25px;
	color: #017BB9;
	font-family: Montserrat,sans-serif;
}
.feat-info
{
	font-size: 15px;
	font-family: Montserrat,sans-serif;
}

/*--------------------------Bottom Info--------------------------*/
#hr
{
  border: 1px solid #b4b5b8;
  width: 100%;
  margin-bottom: 10px;
}

#footerDiv
{
	width: 100%;
	height: 60px;
	background-color: #363a43;
}

#footer
{
	padding-top: 10px;
	color: #b4b5b8;
	text-align: center;
}

#bottomInfo
{
  width: 100%;
  height: 100%;
  background: #363a43;
  color: white;
}
.bottomDiv
{
  margin: 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.bDiv
{ 
  margin: 30px;
  height: 100%;
  width: 300px;
  text-align: left;
}

#botDidymo
{ 
  margin: 60px;
  height: 100%;
  width: 200px;
  text-align: left;
}

#qLinks
{ 
  margin: 30px;
  height: 100%;
  width: 150px;
  
  text-align: left;
  content-align: center;
}

#CMiniLogo
{
  color: #D0D3D4;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;

}
#SMiniLogo
{
  color:#017BB9;
  font-weight: 600;
  font-size: 30px;

}

#miniTitle
{
  font-size: 25px;
  color: #f0f0f0;
}

.miniInfo
{
  font-weight: lighter;
  color: #b4b5b8;
}

#miniLink
{
  color: #f0f0f0;
}


#attributes
{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	height: 100%;
	display: flex;
	justify-content: center;
	color: white;
}

.icon
{
	margin: 30px;
}

#form-photo1
{
	text-align: center;
}
#form-photo1img
{
	width: 100%;
	/*height: 497px;
	width: 497px;*/
}

#myImg
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 0px 1px 10px #999;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover
{
	opacity:0.4;
}




#myImg2
{

	height: 100%;
	width: 100%;
	object-fit: cover;
	box-shadow: 0px 1px 10px #999;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}


#myImg2:hover {opacity: 0.4;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content
{
	background-color: #fefefe;
	margin: auto;
	display: block;
	width: 100%;
	max-width: 800px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



